@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

.form {
    background-color: white;
    border-radius: 0.75rem;
    width: 30%;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
}

.tree-container {
    background-color: whitesmoke;
    
    max-width: 100%; /* 最大寬度為100% */
    min-width: 100%;
    height: 90%;
    overflow-x: auto; /* 水平滾動條 */
    overflow-y: auto; /* 垂直滾動條 */
    padding-top: 10px;
    padding-right: 30px; 
    border-radius: 1.5rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
   
}

.tree {
    list-style: none;
    margin-right: 30px;
    padding: 0;
}

/* 每個節點 */
.tree li {
    display: flex;
    flex-direction: row;
    align-items: center; /* 讓內容垂直居中 */
    position: relative;
    padding-left: 5vw; 
}

/* 移除最左邊的線條 */
.tree > li:first-child::before {
    content: none;
}

/* 水平線，對齊每個 <li> 中的 <div> 中間 */
.tree li::before {
    content: '';
    position: absolute;
    left: 10;
    top: 50%; /* 垂直中心對齊 */
    transform: translateY(-50%); /* 垂直居中修正 */
    border-top: 3px solid rgb(71, 74, 72);
    width: 60px;
}

/* 垂直線條，確保從上到下貫穿 <li> 的高度 */
.tree li:not(:only-child)::after {
    content: '';
    position: absolute;
    left: 10;
    top: 0;
    bottom: 0; /* 覆蓋整個高度 */
    border-left: 5px solid rgb(71, 74, 72);
}

/* 第一個子元素的線條從中間開始 */
.tree li:first-of-type::after {
    top: 50%;
    height: 50%;
}

/* 最後一個子元素的線條到中間結束 */
.tree li:last-of-type::after {
    height: 50%;
}

/* 子節點的水平線條 */
.tree ul:not(:empty)::before {
    content: '';
    position: absolute;
    left: 50;
    top: 51%; /* 垂直中心 */
    transform: translateY(-50%); /* 確保在中間 */
    border-top: 3px solid rgb(71, 74, 72);
    width: 5vw;
}

.tree div {
    display: inline-flex;
    align-items: center;
    background-color: white;
    text-align: center;
    padding: 10px 25px;
    margin-top: 25px;
    margin-left: 50px;
    height: auto; /* 自適應高度 */
    font-family: serif;
    font-size: 15px;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    /* gap: 20px; */
    /* word-wrap: break-word; 在單詞邊界自動換行 */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e8f5e9;
}